*{
    margin: 0;
    padding: 0;
}
.background{
    background-color:#d9d9d9;
}

.logo{
    width:20%;
    display: flex;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 8px;
    align-items: flex-start;
   
}

.logo img{
    width: 43%;
}

.navbar{
    display: flex;
    
}

.nav-list{
    width: 50%;
    /*background-color: skyblue;*/
    display:flex;
    
    
}

.nav-list li{
    list-style: none;
    padding: 26px 20px;
   

}

.nav-list li a{
    font-size: 18px;
    text-decoration: none;
    color:black;
}
.nav-list li a:hover{
    color:rgb(104, 102, 102);
}
.rightNav{
   
    width: 45%;
    padding-top: 15px;
    text-align: right;
    /* border:2px solid red; */
 
 
 }
 
 #search{
     padding: 5px;
     font-size: 17px;
     border: 2px solid grey;
     border-radius: 9px ;
     /* background: none; */
     
     
 }
 .btn{
     padding: 4px 15px;
     margin: 7px 0;
     font-size: 15px;
     border: 2px solid grey;
     border-radius: 10px;
     background:none;
     cursor:pointer;
    
 }
 .subheading{
     /* border: 2px solid red; */
     background-color: rgb(164, 162, 162);
     padding-top: 10px;
     padding-bottom: 10px;
     padding-left: 550px;
 }
.head{
     list-style: none;
 }
 
 .accordion {
    background-color: rgb(164, 162, 162);
    color: rgb(0, 0, 0);
    cursor: pointer;
    padding: 18px;
    width: 50%;
    text-align: left;
    /* border: 1px solid #701313; */
    outline: none;
    transition: 0.4s;
    font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 330px;
    box-shadow: 5px 6px 5px 5px #686666;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    /* background-color:#d9d9d9; */
    box-shadow: none;
    border: none;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 5px ;
    background-color:#d9d9d9;
    /* border: 2px solid red; */
    margin-left:330px;
    margin-right:400px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

p{
    font: 16px Lato, sans-serif; 
}

.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}
.back{
    background: #d9d9d9;
    width: 100%;
    height:110vh;
}